<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-2 text-left"><small>Version 0.1</small></div>
            <div class="col-10 text-right">
                <a href="{{ site.baseurl }}/privacy-policy"><small>Privacy Policy</small></a> | 
                <a href="{{ site.baseurl }}/terms"><small>Terms of Use</small></a> | 
                <a href="{{ site.baseurl }}/disclaimer"><small>Disclaimer</small></a>
            </div>
        </div>
    </div>
</footer>