.navbar {
    background-color: #115888;
    z-index: auto;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #153B5E;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
}
.footer a {
    color: #FFF;
    text-decoration: underline;
}

.btn-margin-left {
    margin-left: .5rem;
}
.btn-margin-right {
    margin-right: .5rem;
}

.close { 
  position: absolute; 
  right: 1rem;
}

/* stats */
.stats {
    text-align: center;
    line-height: 1.8; 
}
.badge-stats {
    background-color:#153B5E;
    color:#fff;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #CCE7FF; // Choose your own color here
 }
