<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Client helper utilities -->
    <script src="{{ site.baseurl }}/static/js/clientutils.js"></script>

    <!-- Sidebar CSS -->
    <link href="{{ site.baseurl }}/static/css/sidebar.css" rel="stylesheet"/>

    <!-- App CSS -->
    <link href="{{ site.baseurl }}/static/css/gridLayout.css" rel="stylesheet"/>

    <!-- APP SVG CSS -->
    <link href="{{site.baseurl }}/static/css/graph.css" rel="stylesheet"/>

    <!-- WebPage Schema.org -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "WebPage",
            "name": "{{ page.title }} - {{ site.title }}",
            "url": "{{ site.baseurl }}{{ page.permalink }}",
            "description": "{{ page.description }}"
        }
    </script>

    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
  </head>
  <body>
    <div class="griddy">
      {% include sidebar.html %}
      <h1 style="grid-row: 1; grid-column: 2; margin: 5px 10px; font-size: 60px;">{{ page.title }}</h1>
      {{ content }}
    </div>
  </body>
</html>
