<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{{ site.baseurl }}/static/js/clientutils.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/816f3eaeaf.js" crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    <link href="{{ site.baseurl }}/static/css/style.css" rel="stylesheet"/>

    <!-- Theme CSS -->
    {% if page.stylesheet %}
    <link href="{{ site.baseurl }}/static/css/{{ page.stylesheet }}.css" rel="stylesheet"/>
    {% endif %}

    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- WebPage Schema.org -->
    <script type="application/ld+json">
        {
            "@id": "{{ site.baseurl }}{{ page.permalink }}",
            "@context": "http://schema.org/",
            "@type": "{{ page.type | default:WebPage }}",
            "name": "{{ page.title }} - {{ site.title }}",
            "url": "{{ site.baseurl }}{{ page.permalink }}",
            "description": "{{ page.description }}"
        }
    </script>

    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
  </head>
  <body>
    {% include nav.html %}
    <!-- Load login script after nav is loaded -->
    <!-- login requires dependencies for now -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/static/js/login.js"></script>
    <br />
    <div class="container">
      {{ content }}
    </div>
    <br />
    {% include foot.html %}



  </body>
</html>
